<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/__static/style.css" />
	</head>
	<body>
		What about this?
		{% block sidebar %}{% endblock sidebar %}
	</body>
</html>
