@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--dark: #272727;
	--light: #fbfbfb;
	--dim: #f3f3f3;
}

.darkmode {
	--dark: #fbfbfb;
	--light: #272727;
	--dim: #272727;
}

html {
	font-family: Inter, sans-serif;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: var(--light);
	color: var(--dark);
}
