@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--foreground: #272727;
	--background: #fbfbfb;
	--midtone: #f3f3f3;
}

html {
	font-family: Inter, sans-serif;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: var(--background);
	color: var(--foreground);
}
